{% extends "../page-base.htm" %}

{% block styles %}
    <link rel="stylesheet" href="./styles/financa.css">
{% endblock %}

{% block container %}
    {% include "../partials/navigation.htm" %}
    {% include "../partials/mobile/perfil_mob.htm"%}
{% endblock %}

{% block content %}
    <div class="content-top">
        <div class="grafico-vertical">
            <div class="y-grafico">
                <p>R$100</p>
                <p>R$ 80</p>
                <p>R$ 60</p>
                <p>R$ 40</p>
                <p>R$ 20</p>
                <p>R$ 0</p>
            </div>
            {% include "../partials/grafico.htm" %}
        </div>

        <div class="info-gastos">
            
            <div class="content-info">
                <div class="filtros">
                    <div class="filtro">
                        <p>
                            Esse Mes
                        </p>
                        <img src="./assets/filtro.png" alt="Filtro">
                    </div>

                    <div class="filtro">
                        <p>
                            Categoria
                        </p>
                        <img src="./assets/filtro.png" alt="Filtro">
                    </div>
                </div>
                
                <div class="gasto">
                    <p>
                        Gasto Total
                    </p>
                    <div>
                        <p>
                            R$ 0,00
                        </p>
                    </div>
                </div>
            </div>

            <div class="gasto">
                <p>
                    Gastos Pendentes
                </p>
                <div>
                    <p>
                        R$ 0,00
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="box-gasto-recente">
        <table class="table-gastos">
            <thead>
                <tr>
                    <th>Estabelecimento</th>
                    <th>Categoria</th>
                    <th>Data</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody class="table-info">
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="icon-downloads">
        <a href="#" onclick="downloadFile()">
            <img src="./assets/images/download.png">
        </a>
    </div>
{% endblock %}

{% block script %}
    <script src="./scripts/script-home.js"></script>
{% endblock %}