{% extends "../page-base.htm" %}

{% block styles %}
    <link rel="stylesheet" href="./styles/operacoes-finaceiras.css"/>
{% endblock %}

{% block container %}
    {% include "../partials/navigation.htm" %}
    {% include "../partials/navigation_mob.htm"%}
{% endblock %}

{% block content %}
    <div class="box-gasto-recente">
        <table class="table-gastos">
            <thead>
                <tr>
                    <th>Estabelecimento</th>
                    <th>Categoria</th>
                    <th>Data</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody class="table-info">
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
                <tr>
                    <td>Supermercado ABC</td>
                    <td>Mercado</td>
                    <td>01/10/2024</td>
                    <td>R$200,00</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script src="./scripts/script-home.js"></script>
{% endblock %}
