{% extends "../page-base.htm" %}

{% block styles %}
    <link rel="stylesheet" href="./styles/editar-perfil.css">
{% endblock %}

{% block content %}
    {% include "../partials/navigation.htm" %}
        <!-- Content -->
        <div class="content">
            <div class="header">
                <div class="profile-picture">
                    <img src=".\images\image.png" alt="nome do usuario">
                    <div class ="profile-detalhe">
                        <img src="./assets/symbols_edit-square (1).png " alt="editar">
                    </div>
                </div>
                <p class="profile-info">urano</p>
            </div>
        </div>
        <div class="transparent-box"></div>
    </div>
{% endblock %}

{% block script %}
    <script src="./scripts/script-home.js"></script>
{% endblock %}
