* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
}

.container {
    display: flex;
    height: 100vh;
}

.barra-lateral {
    width: 20%;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.perfil {
    font-weight: bold;
    font-size: 1.2em;
}

.barra-lateral nav ul {
    list-style-type: none;
    width: 100%;
}

.barra-lateral nav ul li {
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
}

.barra-lateral nav ul li.ativo {
    background-color: #bfbfbf;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


.conteudo-principal {
    width: 80%; 
    padding: 20px;
    display: flex;
    align-items: flex-start; 
    justify-content: center;
}

.grade-conteudo {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    width: 80%;
    gap: 80px;
}

.branco {
    background-color: #fff;
    padding: 30px; 
    margin-bottom: 1cm; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2; 
    width: 100%; 
}

.cartao-grafico-gastos {
    background-color: #fff;
    padding: 70px; 
    margin-bottom: 10px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1; 
    width: calc(100% - 40px); 
}

.cartao-meta {
    background-color: #fff;
    padding: 40px; 
    margin-bottom: 10px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2; 
    width: calc(100% - 60px); 
}

.cartao-historico-gastos {
    background-color: #fff;
    padding: 80px; 
    margin-bottom: 20px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 1; 
    width: 100%; 
}
.cartao-contas {
    background-color: #fff;
    padding: 20px; 
    margin-bottom: 20px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2; 
    width: calc(100% - 40px); 
}