{% extends "../page-base.htm" %}

{% block styles %}
    <link rel="stylesheet" href="./styles/relatorio.css">
{% endblock %}

{% block container %}
    {% include "../partials/logo_escura.htm" %}
{% endblock %}

{% block content %}
    <div class="titulo">
        <h1>Relatório de Atividades</h1>
    </div>

    <div>
        <div class="cabecalho">
            <h2>
                {{ dados.nome }} {{ dados.sobrenome }}
            </h2>
        </div>

        <div class="subcabecalho">
            <p>
                Data de Inicio: {{ dados.data_inicio }}
            </p>
            <p>
                Data Final: {{ dados.data_fim }}
            </p>
        </div>
        
        <div class="cabecalho">
            <h2>Seus maiores picos</h2>
        </div>

        <div class="maiores-gasto">
            <table>
                <tbody>
                    
                    {% for gasto in dados.gastos_maiores %}
                        <tr>
                            <td>{{ gasto.estabelecimento }}</td>
                            <td>{{ gasto.categoria }}</td>
                            <td>{{ gasto.data }}</td>
                            <td>R$ {{ gasto.valor }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="cabecalho">
            <h2>Gasto total</h2>
        </div>

        <div class="gasto-total">
            <p>Gasto total da filtragem</p>
            <p>R$ {{ dados.gasto_total }}</p>
        </div>

        <div class="cabecalho">
            <h2>Histórico (filtrado)</h2>
        </div>

        <div class="historico">
            <table>
                <tbody>
                    {% for gasto in dados.gastos %}
                        <tr>
                            <td>{{ gasto.estabelecimento }}</td>
                            <td>{{ gasto.categoria }}</td>
                            <td>{{ gasto.data }}</td>
                            <td>R$ {{ gasto.valor }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}