<div class="option-list">
    <a value="" onclick="verificaNav()">
        <img src="./assets/list_branco.svg" alt="" id="list-nav" srcset="">
    </a>
</div>

<div class="navigation-bar" id="navigation-bar">
    <div class="profile-bar" id="profile-bar">
        <img src="./images/image.png" alt="Imagem Perfil">
        <p>Olá, <span id="username">Usuário</span></p>
    </div>

    <div id="nav-options" class="nav-options">
        <a href="inicio"> <img src="./assets/icons/home.png" alt=""> Inicio</a>
        <a href="contas"> <img src="./assets/icons/cartao.png" alt=""> Contas</a>
        <a href="metas"> <img src="./assets/icons/metas.png" alt=""> Metas</a>
        <a href="financas"> <img src="./assets/icons/financas.png" alt=""> Status de Financas</a>
        <a href="historico"> <img src="./assets/icons/historico.png" alt=""> Historico</a>
        <a href="ajuda"> <img src="./assets/icons/ajudar.png" alt=""> Posso te Ajudar?</a>
        <a href="perfil"> <img src="./assets/icons/perfil.png" alt=""> Perfil</a>
    </div>
</div>