{% extends "../page-base.htm" %}



{% block styles %}
    <link rel="stylesheet" href="./styles/ajuda-selecionado.css">
{% endblock %}

{% block container %}
    {% include "../partials/navigation.htm" %}
    {% include "../partials/mobile/perfil_mob.htm"%}
{% endblock %}

{% block content %}
    <div class="ajuda-container">
        <div class="ajuda-content">
            {% for header_text in headers_text %}
                <div class="ajuda-header">
                    <!-- <img src="./images/investimentos.png" alt=""> -->
                    <div class="ajuda-header-text">
                        <h3>
                            {{ header_text.title }}
                        </h3>
                        <div class="traco-horizontal"></div>
                        <p>
                            {{ header_text.description }}
                        </p>
                    </div>
                </div>
            {% endfor %}
            
            <div class="modal-cards">
                {% for modal_card in modal_cards %}
                    <div class="modal-card">
                        <div class="modal-card-content">
                            <h3>
                                {{ modal_card.title }}
                            </h3>
                            <p>
                                {{ modal_card.description }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
