{% extends "../page-base.htm" %}

{% block title %}
    <title>Posso te Ajudar</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="./styles/ajudar.css">
{% endblock %}

{% block container %}
    {% include "../partials/navigation.htm" %}
    {% include "../partials/mobile/perfil_mob.htm"%}
{% endblock %}

{% block content %}
    <div class="ajuda-container">
        <div class="ajuda-content">
            <div class="ajuda-header">
                <div class="ajuda-header-text">
                    <h3 class="titulo">
                        
                        Seu Guia para o Controle Financeiro: Simples, Rápido e Eficaz!
                    </h3>
                    <div>
                        <p class="texto-info">
                            Cuidar das suas finanças é mais do que uma necessidade: é um ato de autocuidado e uma forma poderosa de investir no seu futuro. Com um pouco de disciplina e as ferramentas certas, você pode transformar completamente sua relação com o dinheiro, abrindo caminho para uma vida mais tranquila e cheia de possibilidades. Dê o primeiro passo hoje e comece a colher os frutos dessa mudança positiva por toda a sua jornada.
                        </p>
                        <img src="./images/pessoa_money.png" >
                    </div>
                </div>
            </div>
            
            <div class="ajuda-cards">
                <p>
                    Áreas que podemos te ajudar
                </p>
            </div>
            

            <div class="modal-cards">
                <div class="modal-card" onclick="window.location.href='ajuda_selecionado'">
                    <div class="modal-card-image">
        
                    </div>
                    <div class="modal-card-content">
                        <p>
                            Economia:
                        </p>
                        <p>
                            Economize hoje, conquiste amanhã!
                        </p>
                    </div>
                </div>

                <div class="modal-card">
                    <div class="modal-card-image">
        
                    </div>
                    <div class="modal-card-content">
                        <p>
                            Economia:
                        </p>
                        <p>
                            Economize hoje, conquiste amanhã!
                        </p>
                    </div>
                </div>

                <div class="modal-card">
                    <div class="modal-card-image">
        
                    </div>
                    <div class="modal-card-content">
                        <p>
                            Economia:
                        </p>
                        <p>
                            Economize hoje, conquiste amanhã!
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
