{% extends "../page-base.htm" %}

{% block title %}
    <title>Contas</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="./styles/contas.css">
    <link rel="stylesheet" href="./styles/modal.css">
{% endblock %}

{% block container %}
    {% include "../partials/navigation.htm" %}
    {% include "../partials/mobile/perfil_mob.htm"%}
{% endblock %}

{% block content %}
    <div class="cartoes">
        {% for cartao in cartoes %}
            <div class="cartao">  
                <div class="info-cartao">
                    <p>
                        {{ cartao.tipo }}
                    </p>

                    <div class="info-principal">
                        <div>
                            <p>
                                **** **** **** ****
                            </p>
                            <img src="./assets/see_eyes.png" alt="olho">
                        </div>
                        <p>
                            {{ cartao.nome }}
                        </p>
                    </div>
                </div>
                <div class="logo-cartao">
                    <img src="./assets/master_card.svg" alt="marter card">
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="add-cartao">
        <p>
            Adiciona Cartão
        </p>
        <form action="/save_cartao" method="post" class="form-add-cartao">
            <input class="input-dados-label" type="text" name="tipo" id="tipo" placeholder="Tipo do Cartao" required>
            <input class="input-dados-label" type="text" name="numero" id="numero" placeholder="Número do cartão" required>
            <input class="input-dados-label" type="text" name="nome" id="nome" placeholder="Nome do titular" required>
            <input class="input-dados-label" type="text" name="meta" id="meta" placeholder="Meta de gastos mensal" required>
            
            <button class="button-submit" type="submit" class="rodape">Cadastrar</button>
        </form>
    </div>
{% endblock %}

{% block modal %}
    {% if saved %}
        {% include "../partials/modal.htm" %}
    {% endif %}
{% endblock %}