{% extends "../page-base.htm" %}

{% block styles %}
    <link rel="stylesheet" href="./styles/financa.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block container %}
    {% include "../partials/navigation.htm" %}
    {% include "../partials/mobile/perfil_mob.htm"%}
{% endblock %}

{% block content %}
    <div class="content-top">
        <div class="grafico-vertical">
            <canvas id="meuGrafico" width="400" height="200"></canvas>
        </div>

        <div class="info-gastos">
            
            <div class="content-info">
                <div class="filtros">
                    <div class="filtro">
                        <p>
                            Esse Mes
                        </p>
                        <img src="./assets/filtro.png" alt="Filtro">
                    </div>

                    <div class="filtro">
                        <p>
                            Categoria
                        </p>
                        <img src="./assets/filtro.png" alt="Filtro">
                    </div>
                </div>
                
                <div class="gasto">
                    <p>
                        Gasto Total
                    </p>
                    <div>
                        <p>
                            R${{ gasto_total }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="gasto">
                <p>
                    Gastos Pendentes
                </p>
                <div>
                    <p>
                        R$ 0,00
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="box-gasto-recente">
        <table class="table-gastos">
            <thead>
                <tr>
                    <th>Estabelecimento</th>
                    <th>Categoria</th>
                    <th>Data</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody class="table-info">
                {% if transacoes.length %}
                    {% for transacao in transacoes %}
                        <tr>
                            <td>{{ transacao.estabelecimento }}</td>
                            <td>{{ transacao.categoria }}</td>
                            <td>{{ transacao.data }}</td>
                            <td>R${{ transacao.valor }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="icon-downloads">
        <a href="#" onclick="downloadFile()">
            <img src="./assets/images/download.png">
        </a>
    </div>
{% endblock %}

{% block script %}
    <script src="./scripts/graph.js"></script>
{% endblock %}