{% extends "../page-base.htm" %}

{% block title %}
    <title>Finanças</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="./styles/financa.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
{% endblock %}

{% block container %}
    {% include "../partials/navigation.htm" %}
    {% include "../partials/mobile/perfil_mob.htm"%}
{% endblock %}

{% block content %}
    <div class="content-top">
        <div class="grafico-vertical">
            <canvas id="meuGrafico" width="400" height="200"></canvas>
        </div>

        <div class="info-gastos">
            
            <div class="content-info">
                <div class="filtros">

                    <select id="mes" name="mes" class="filtro">
                        <option value="todos">Todos</option>
                        {% for mes in meses %}
                            <option value="{{ mes.ano_mes }}">{{ mes.mes }}</option>
                        {% endfor %}
                    </select>
                    
                    <select id="categoria" name="categoria" class="filtro">
                        <option value="todas">Todas</option>
                        {% for categoria in categorias %}
                            <option value="{{ categoria }}">{{ categoria }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="gasto">
                    <p>
                        Gasto Total
                    </p>
                    <div>
                        <p id="gasto_total">
                            R${{ gasto_total | replace('.', ',') }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="gasto">
                <p>
                    Gastos Pendentes
                </p>
                <div>
                    <p>
                        R${{ pendente | replace('.', ',') }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="box-gasto-recente">
        <table class="table-gastos">
            <thead>
                <tr>
                    <th>Estabelecimento</th>
                    <th>Categoria</th>
                    <th>Data</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody class="table-info" id="table-info">
                {% if transacoes.length %}
                    {% for transacao in transacoes %}
                        <tr>
                            <td>{{ transacao.estabelecimento }}</td>
                            <td>{{ transacao.categoria }}</td>
                            <td>{{ transacao.data }}</td>
                            <td>R${{ transacao.valor | replace('.', ',') }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="icons">
        <div class="icon-downloads">
            <a id="downloadLink" href="/exportar-pdf/?id={{ idUser }}" download="relatorio.pdf">
                <img src="./assets/download.svg" alt="Download" srcset="">
            </a>
        </div>
        <div class="icon-add">
            <a id="add">
                <img src="./assets/mais.png" alt="Adicionar" srcset="">
            </a>
        </div>
    </div>
    <div id="myModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Adicionar Transação</h2>
            <form class="form" action="/transactions/save_transacao" method="POST">
                <div>
                    <label for="estabelecimento">Estabelecimento:</label>
                    <input type="text" name="estabelecimento" required>
                </div>

                <div>
                    <label for="categoria">Categoria:</label>
                    <input type="text" name="categoria" required>
                </div>
                
                <div>
                    <label for="valor">Valor:</label>
                    <input type="number" name="valor" step="0.01" required>
                </div>
    
                <div>
                    <label for="data">Data:</label>
                    <input type="date" name="data" required>
                </div>
    
                <button type="submit">Salvar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="./scripts/filtro_financa.js"></script>
    <script src="./scripts/graph_month_financa.js"></script>
    <script src="./scripts/download_pdf.js"></script>
    <script src="./scripts/adicionar_transacao.js"></script>
{% endblock %}