{% extends "../page-base.htm" %}

{% block styles %}
    <link rel="stylesheet" href="./styles/financa.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block container %}
    {% include "../partials/navigation.htm" %}
    {% include "../partials/mobile/perfil_mob.htm"%}
{% endblock %}

{% block content %}
    <div class="content-top">
        <div class="grafico-vertical">
            <canvas id="meuGrafico" width="400" height="200"></canvas>
        </div>

        <div class="info-gastos">
            
            <div class="content-info">
                <div class="filtros">

                    <select id="mes" name="mes" class="filtro">
                        <option value="todos">Todos</option>
                        {% for mes in meses %}
                            <option value="{{ mes.ano_mes }}">{{ mes.mes }}</option>
                        {% endfor %}
                    </select>
                    
                    <select id="categoria" name="categoria" class="filtro">
                        <option value="todas">Todas</option>
                        {% for categoria in categorias %}
                            <option value="{{ categoria }}">{{ categoria }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="gasto">
                    <p>
                        Gasto Total
                    </p>
                    <div>
                        <p id="gasto_total">
                            R${{ gasto_total }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="gasto">
                <p>
                    Gastos Pendentes
                </p>
                <div>
                    <p>
                        R$ {{ pendente }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="box-gasto-recente">
        <table class="table-gastos">
            <thead>
                <tr>
                    <th>Estabelecimento</th>
                    <th>Categoria</th>
                    <th>Data</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody class="table-info" id="table-info">
                {% if transacoes.length %}
                    {% for transacao in transacoes %}
                        <tr>
                            <td>{{ transacao.estabelecimento }}</td>
                            <td>{{ transacao.categoria }}</td>
                            <td>{{ transacao.data }}</td>
                            <td>R${{ transacao.valor }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="icon-downloads">
        <a href="#" onclick="downloadFile()">
            <img src="./images/download.png">
        </a>
    </div>
{% endblock %}

{% block script %}
    <script src="./scripts/graph_month.js"></script>
    <script src="./scripts/filtro_financa.js"></script>
{% endblock %}