{% extends "../page-base.htm" %}

    {% block styles %}
        <link rel="stylesheet" href="./styles/inicio.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/progressbar.js@1.1.0/dist/progressbar.min.js"></script>
    {% endblock %}

{% block container %}
    {% include "../partials/navigation.htm" %}
    {% include "../partials/mobile/perfil_mob.htm"%}
{% endblock %}

{% block content %}
    <div class="content-top">
        <div class="box-relatorio">
            <p>
                Relatorio
            </p>
            <canvas id="meuGrafico" width="400" height="200"></canvas>
        </div>
        <div class="box-limite-cartoes">
            <div class="box-limite">
                <p>
                    Seu limite chegou a {{ porcentagem }}%
                </p>
                <img src="./assets/notifications.png" alt="Notification">
            </div>
            <div class="box-cartoes">
                <div>
                    <P style="margin-left: 20;">
                        Seus Cartões
                    </P>
                    <sub style="margin-left: 20;">
                        voce tem 1 cartao cadastrado
                    </sub>
                </div>
                <div class="cartoes"> 
                    <!-- <div class="cartao"> 
                    </div>
                    <div class="cartao"> 
                    </div> -->
                    <div class="cartao">  {# Pai #}
                        <div class="info-cartao">
                            <p>
                                Crédito
                            </p>

                            <div class="info-principal">
                                <div>
                                    <p>
                                        **** **** **** ****
                                    </p>
                                    <img src="./assets/see_eyes.png" alt="olho">
                                </div>
                                <p>
                                    Fulano de tal
                                </p>
                            </div>
                        </div>
                        <div class="logo-cartao">
                            <img src="./assets/master_card.svg" alt="marter card">
                        </div>
                    </div>
                    <span class="adicionar-cartao">
                        <a href="">
                            <img src="./assets/mais.png" alt="Mais">
                        </a>
                    </span>
                </div>
            </div>
            
        </div>
    </div>
    <div class="content-down">
        <div class="box-gasto-recente">
            <p>
                Gastos Recentes
            </p>
            <table class="table-gastos">
                <tbody class="table-info">
                    {% if transacoes.length %}
                        {% for transacao in transacoes %}
                            <tr>
                                <td>{{ transacao.estabelecimento }}</td>
                                <td>{{ transacao.categoria }}</td>
                                <td>{{ transacao.data }}</td>
                                <td>R${{ transacao.valor }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="box-gasto-total">
            <img src="./assets/wallet-linear.png" alt="">
            <div>
                <p style ="text-align: center; font-size: 26px;">
                    Gasto Total
                </p>
                <p style="text-align: center; font-size: 35px;">
                    R${{ gasto_total }}
                </p>
            </div>

            <div class="show-info">
                <div id="progress-container" data-porcentagem="{{porcentagem}}"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="./scripts/graph.js"></script>
    <script type="module" src="./scripts/circulo.js"></script>
{% endblock %}