{% extends "../page-base.htm" %}

{% block title %}
    <title>Metas</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="./styles/metas.css">
    <script src="https://cdn.jsdelivr.net/npm/progressbar.js@1.1.0/dist/progressbar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block container %}
    {% include "../partials/navigation.htm" %}
    {% include "../partials/mobile/perfil_mob.htm"%}
{% endblock %}

{% block content %}
    <div class="box-gasto">
        <div class="box-gasto-total">
            <img src="./assets/wallet-linear.png" alt="">
            <div>
                <p style="text-align: center; font-size: 22px;">
                    Gasto Total
                </p>
                <p style="text-align: center; font-size: 28px;">
                    R${{ gasto_total | replace('.', ',') }}
                </p>
            </div>

            <div class="show-info">
                <div id="progress-container" data-porcentagem="{{porcentagem}}"></div>
            </div>
        </div>
        <div class="grafico-vertical">
            <canvas id="meuGrafico" width="400" height="200"></canvas>
        </div>
    </div>

    <div class="box-objetivo">
        
        <div class="limite">
            <p  style="font-weight: bold; font-size: 20px;">
                Seu limite disponivel
            </p>
            <div>
                <p id="text-limite">
                    R${{ gasto_limite | replace('.', ',') }}
                </p>
            </div>
        </div>

        <div class="gasto">
            
            <p style="font-weight: bold; font-size: 20px;">
                Quero gastar:
            </p>
            
            <div class="alterar-limite" id="text-limite-alterar">
                <p>
                    R${{ limite }}
                </p>
            </div>

        </div>
    </div>

    <div class="box-gasto-recente">
        <p>
            Onde você gastou:
        </p>
        <table class="table-gasto-recente">
            {% for categoria, dados in categorias %}
                <tr>
                    <td>{{ categoria }}</td>
                    <td>{{ dados.porcentagem }}%</td>
                    <td>R${{ dados.total_gasto | replace('.', ',') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="myModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Altere sua meta</h2>
            <form class="form" action="/update_cartao" method="POST">
                <div>
                    <input type="number" name="meta" step="0.01" required>
                </div>
    
                <button type="submit">Salvar</button>
            </form>
        </div>
        
    </div>
{% endblock %}

{% block script %}
    <script type="module" src="./scripts/semi_circulo.js"></script>
    <script src="./scripts/graph_day.js"></script>
    <script src="./scripts/alterar_cor_box_meta.js"></script>
    <script src="./scripts/alterar_cor_text_limite.js"></script>
    <script src="./scripts/alterar_limite.js"></script>
{% endblock %}