{% extends "../page-base.htm" %}

{% block styles %}
    <link rel="stylesheet" href="./styles/metas.css">
{% endblock %}

{% block container %}
    {% include "../partials/navigation.htm" %}
    {% include "../partials/mobile/perfil_mob.htm"%}
{% endblock %}

{% block content %}
    <div class="box-gasto">
        <div class="box-gasto-total">
            <img src="./assets/wallet-linear.png" alt="">
            <div>
                <p style="text-align: center; font-size: 22px;">
                    Gasto Total
                </p>
                <p style="text-align: center; font-size: 28px;">
                    R${{ gasto_total}}
                </p>
            </div>

            <div class="show-info">
                <span>
                    99,98%
                </span>
                <div>
                    <p>
                        Limite R$ {{ limite }}
                    </p>
                </div>
            </div>
        </div>
        <div class="grafico-vertical">
            <div class="y-grafico">
                <p>R$100</p>
                <p>R$ 80</p>
                <p>R$ 60</p>
                <p>R$ 40</p>
                <p>R$ 20</p>
                <p>R$ 0</p>
            </div>
            {% include "../partials/grafico.htm" %}
        </div>
    </div>

    <div class="box-objetivo">
        
        <div class="limite">
            <p  style="font-weight: bold; font-size: 20px;">
                Limite de gasto:
            </p>
            <div>
                <p>
                    R${{ gasto_limite }}
                </p>
            </div>
        </div>

        <div class="gasto">
            
            <p style="font-weight: bold; font-size: 20px;">
                Quero gastar:
            </p>
            
            <div>
                <p>
                    R${{ limite }}
                </p>
            </div>

        </div>
    </div>

    <div class="box-gasto-recente">
        <p>
            Onde você gastou:
        </p>
        <table class="table-gasto-recente">
            {% for categoria, dados in categorias %}
                <tr>
                    <td>{{ categoria }}</td>
                    <td>{{ dados.porcentagem }}%</td>
                    <td>R${{ dados.total_gasto }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}