{% extends "../page-base.htm" %}

{% block styles %}
    <link rel="stylesheet" href="./styles/operacoes-finaceiras.css"/>
{% endblock %}

{% block container %}
    {% include "../partials/navigation.htm" %}
    {% include "../partials/mobile/perfil_mob.htm"%}
{% endblock %}

{% block content %}
    <div class="box-gasto-recente">
        <table class="table-gastos">
            <thead>
                <tr>
                    <th>Estabelecimento</th>
                    <th>Categoria</th>
                    <th>Data</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody class="table-info">
                {% if transacoes.length %}
                    {% for transacao in transacoes %}
                        <tr>
                            <td>{{ transacao.estabelecimento }}</td>
                            <td>{{ transacao.categoria }}</td>
                            <td>{{ transacao.data }}</td>
                            <td>R${{ transacao.valor }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}