<div class="info-grafico">
    {# <p>6%</p> #}
    <span class="grafico" style="height: 6%;"></span>
    <p>Jan</p>
</div>

<div class="info-grafico">
    {# <p>12%</p> #}
    <span class="grafico" style="height: 12%;"></span>
    <p>Fev</p>
</div>

<div class="info-grafico">
    {# <p>18%</p> #}
    <span class="grafico" style="height: 18%;"></span>
    <p>Mar</p>
</div>

<div class="info-grafico">
    {# <p>24%</p> #}
    <span class="grafico" style="height: 24%;"></span>
    <p>Abr</p>
</div>

<div class="info-grafico">
    {# <p>30%</p> #}
    <span class="grafico" style="height: 30%;"></span>
    <p>Mai</p>
</div>  

<div class="info-grafico">
    {# <p>36%</p> #}
    <span class="grafico" style="height: 36%;"></span>
    <p>Jun</p>
</div>

<div class="info-grafico">
    {# <p>42%</p> #}
    <span class="grafico" style="height: 42%;"></span>
    <p>Jul</p>
</div>

<div class="info-grafico">
    {# <p>48%</p> #}
    <span class="grafico" style="height: 48%;"></span>
    <p>Ago</p>
</div>

<div class="info-grafico">
    {# <p>54%</p> #}
    <span class="grafico" style="height: 54%;"></span>
    <p>Set</p>
</div>

<div class="info-grafico">
    {# <p>60%</p> #}
    <span class="grafico" style="height: 60%;"></span>
    <p>Out</p>
</div>

<div class="info-grafico">
    {# <p>66%</p> #}
    <span class="grafico" style="height: 66%;"></span>
    <p>Nov</p>
</div>

<div class="info-grafico">
    {# <p>72%</p> #}
    <span class="grafico" style="height: 100%;"></span>
    <p>Dez</p>
</div>
