<div class="navigation-bar-mob" id="navigation-bar">
    <div class="profile-bar">
        <img src="./images/image.png" alt="Imagem Perfil" > 
        <p>Ola, <span id="username">Usuário</span></p>
    </div>

    <div id="nav-options" class="nav-options">
        <a href="inicio">Inicio</a>
        <a href="contas">Contas</a>
        <a href="metas">Metas</a>
        <a href="financas">Status de Financas</a>
        <a href="historico">Historico</a>
        <a href="ajuda">Posso te Ajudar?</a>
        <a href="perfil">Perfil</a>
    </div>
</div>