{% extends "../page-base.htm" %}
  {% block title %}
      <title> Cadastro </title>
  {% endblock title %}

  {% block styles %}
    <link rel="stylesheet" href="./styles/cadastrar.css">
  {% endblock %}

  {% block container %}
    {% include "../partials/mobile/logo_clara_mob.htm" %}
  {% endblock %}

    {% block content %}
        <div class="login-esquerda">
            <div class="slideshow-image">
                <div class="image">
                    <img src="" id="imagem-login-esquerda" alt="">
                    <div class="slideshow" name="slideshow"></div>
                </div>
            </div>
        </div>
        <div class="login-direita">

            <div class="login-dados">
                <div class="title-dados">
                <h1>
                    Cadastrar
                </h1>
            </div>
            
            <form class="input-dados" action="http://127.0.0.1:5000/api/cadastrar" method="post">

                <input type="text" name="nome" class="input-dados-label" id="" placeholder="Nome" required>
                <input type="text" name="sobrenome" class="input-dados-label" id="" placeholder="Sobrenome" required>
                <input type="email" name="email" class="input-dados-label" id="" placeholder="E-mail" required>
                <input type="password" name="senha" class="input-dados-label" id="" placeholder="Senha" required>
                <input type="password" name="confirma_senha" class="input-dados-label" id="" placeholder="Conferir Senha" required>

                <label class="aceitar-termo">
                    <input type="checkbox" name="checkbox" required/>
                    Aceitar Termos
                </label>
                
                <button type="submit" class="button-submit">Cadastrar</button>
            </form>
            <div class="input-down">
                <a href="/">
                    <p>
                    Login
                    </p>
                </a>
            </div>
        </div>
    {% endblock %}

    {% block script %}
        <script src="./scripts/script.js"></script>
    {% endblock %}