{% extends "../page-base.htm" %}

    {% block styles %}
        <link rel="stylesheet" href="./styles/esqueci-senha.css">
    {% endblock %}

    {% block container %}
        {% include "../partials/mobile/logo_escura_mob.htm" %} 
    {% endblock %}

    {% block content %}

        <div class="content-box">
            {% include "../partials/logo_clara.htm" %}
            
            <div class="box-info">
                <form action="http://127.0.0.1:5000/email/recuperar_senha/token={{token}}" method="post" class="form-email">
                    <div class="label-form">
                        <h3>
                            Esqueci Minha Senha
                        </h3>
                        <p>
                            Por favor, informe seu e-mail e você receberá sua nova senha.
                        </p>
                    </div>

                    <input type="email" name="email" id="" placeholder="E-Mail">

                    <button type="submit">Enviar Ticket</button>

                    <a href="/">
                        <p>
                            Cancelar
                        </p>
                    </a>
                </form>
            </div>
        </div>
    {% endblock %}

    {% block script %}
        
    {% endblock %}