{% extends "../page-base.htm" %}
  {% block title %}
      <title> Perguntas </title>
  {% endblock title %}

  {% block styles %}
    <link rel="stylesheet" href="./styles/perguntas.css">
    <script src="https://cdn.jsdelivr.net/npm/progressbar.js@1.1.0/dist/progressbar.min.js"></script>
  {% endblock %}

  {% block container %}
    {% include "../partials/mobile/logo_escura_mob.htm" %}
  {% endblock %}

    {% block content %}
        <div class="login-esquerda">
            {% include "../partials/logo_escura.htm" %}
            <div class="pergunta-form">
                
                <form action="/enviar_respostas" method="POST" class="respota-progresso">
                    <div class="respostas active">
                        <h1>Qual seu objetivo?</h1>
                        
                        <div class="resposta" onclick="selecionar(this)">
                            <input type="radio" name="objetivo" value="1">
                            <label for="resposta1">Se organizar</label>
                        </div>
                    
                        <div class="resposta" onclick="selecionar(this)">
                            <input type="radio" name="objetivo" value="2">
                            <label for="resposta2">Economizar</label>
                        </div>
                    
                        <div class="resposta" onclick="selecionar(this)">
                            <input type="radio" name="objetivo" value="3">
                            <label for="resposta3">Receber dicas financeiras</label>
                        </div>
                    </div>
                
                    <div class="respostas">
                        <h1>Você é?</h1>
                        
                        <div class="resposta" onclick="selecionar(this)">
                            <input type="radio" name="perfil" value="1">
                            <label for="resposta4">Aposentado</label>
                        </div>
                    
                        <div class="resposta" onclick="selecionar(this)">
                            <input type="radio" name="perfil" value="2">
                            <label for="resposta5">Estudante</label>
                        </div>
                    
                        <div class="resposta" onclick="selecionar(this)">
                            <input type="radio" name="perfil" value="3">
                            <label for="resposta6">CLT</label>
                        </div>
                
                        <div class="resposta" onclick="selecionar(this)">
                            <input type="radio" name="perfil" value="4">
                            <label for="resposta7">Pessoa Jurídica</label>
                        </div>
                        
                        <div class="resposta" onclick="selecionar(this)">
                            <input type="radio" name="perfil" value="5">
                            <label for="resposta8">CLT (Negativado)</label>
                        </div>
                
                        <div class="resposta" onclick="selecionar(this)">
                            <input type="radio" name="perfil" value="6">
                            <label for="resposta9">Apenas Negativado</label>
                        </div>
                    </div>

                    <div class="respostas">
                        
                        <div class="resposta renda">
                            <h1>Qual sua renda mensal?</h1>

                            <div class="renda-form">
                                <input type="number" name="renda" id="renda" placeholder="R$ 0,00" required>
                                <button type="submit">Certo!</button>    
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="progresso-indicador">
                    </div>
                    
                    <div class="buttons">
                        <button type="button" onclick="voltar()" id="btn-voltar" disabled>Voltar</button>
                        <button type="button" onclick="avancar()" id="btn-avancar">Avançar</button>
                    </div>
                </form>

                <div class="progresso">
                    <div id="progress-container" data-porcentagem="{{porcentagem}}"></div>
                </div>
            </div>
        </div>
        <div class="login-direita">
        </div>
    {% endblock %}

    {% block script %}
        <script src="./scripts/circulo.js"></script>
        <script src="./scripts/pergunta.js"></script>
        <script src="./scripts/script.js"></script>
    {% endblock %}