{% extends "../page-base.htm" %}
    {% block title %}
        <title>Recuperação de Senha</title>
    {% endblock %}

    {% block styles %}
        <link rel="stylesheet" href="./styles/esqueci-senha.css">
        <link rel="stylesheet" href="./styles/modal.css">
    {% endblock %}

    {% block container %}
        {% include "../partials/mobile/logo_escura_mob.htm" %} 
    {% endblock %}

    {% block content %}
        <div class="content-box">
            {% include "../partials/logo_clara.htm" %}
            <div class="box-info">

                <form action="/alterar_senha?email={{ email }}" method="post" class="form-email">
                    <div class="label-form">
                        <h3>
                            Esqueci Minha Senha
                        </h3>
                        <p>
                            Digite sua senha e clique em confirmar para redefinir sua senha.
                        </p>
                    </div>
                    <input type="text" name="senha" id="" placeholder="Senha" required>
                    <input type="text" name="senha-correta" id="" placeholder="Senha Novamente" required>
                    <button type="submit">Confirmar</button>
                </form>
            </div>
        </div>
    {% endblock %}

    {% block modal %}
        {% if saved %}
            {% include "../partials/modal.htm" %}
        {% endif %}
    {% endblock %}

    {% block script %}
        
    {% endblock %}