
.titulo{
    margin-left: 150px; 
    margin-right: 400px;
    font-size: 34px; 

}
.texto-info{
    margin-left: 150px; 
    margin-right: 150px;
}

.ajuda-container{
    display: flex;
    flex-direction: column;

    padding-top: 100px;

    background-color: var(--azul-escuro);
    background-image: url('../images/fundo_money.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.ajuda-content{
    display: flex;
    flex-direction: column;

    background-color: var(--branco);
}

.ajuda-header{
    display: flex;
    justify-content: center;

    gap: 20px;
    padding: 20px;
}

.ajuda-header-text{
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.ajuda-header-text p{
    font-size: 16;
}

.ajuda-header-text div{
    display: flex;
    gap: 10px;
}

.ajuda-header img{
    display: block;

    position: relative;
    top: -80px;
  
    width: 300px;
    margin-top: -100px; 
    margin-right: 20px;
}

.ajuda-cards{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--laranja-principal);
    height: 1px;

    margin: 5px 10px 5px 10px;
}

.ajuda-cards p{
    background-color: var(--branco);
    padding: 5px;
}

.modal-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.modal-card{
    display: flex;
    flex-direction: column;

    background-color: var(--azul-escuro);
    border-radius: 10px;

    width: 331px;
    height: 498px;
}

.modal-card-image{
    background-image: url('../images/imagem_qualquer.jpg');
    background-size: cover;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    height: 60%;
}

.modal-card-content{
    display: flex;
    flex-direction: column;

    justify-content: center;

    padding: 10px;

    color: var(--branco);
    text-align:right;
}

@media screen and (max-width: 720px){
    .box-content{
        background-color: var(--branco);
        height: 100%;
    }

    .ajuda-container{
        background-color: var(--branco);
        background-image: none;

        padding-top: 0px;
    }

    .ajuda-header img{
      
        width: 200px;
        margin-top: 85px; 
        margin-right: 20px;
        
    }
    .titulo{
        margin-left: 20px; 
        margin-right: 20px;
        font-size: 24px; 
    }
    .texto-info{
        margin-left: 20px; 
        margin-right: 20px;
    }

}