.box-gasto-recente{
    display: flex;
    flex-direction: column;

    background-color: var(--branco);
    border-radius: 15px;
    
    box-shadow: 15px 15px 2px var(--sombra), 9px 9px 10px var(--azul);
    
    padding: 5px;

    overflow: auto;
}

.table-gastos {
    border-collapse: collapse;

    font-family: var(--fonte);
    font-weight: 400;
    font-style: normal;
    font-size: 17;
}

.table-gastos tr:nth-child(even){
    background-color: var(--branco);
}

.table-gastos tr:hover{
    background-color: var(--azul-escuro);
    color: white;
}

.table-info tr{
    background-color: var(--claro-escuro);
    height: 40px;
}