:root {
    --claro: #f4f6ff;
    --claro-escuro: rgb(217, 217, 217);
    --sombra: rgba(99,78,78,0.23);
    --laranja-principal: #ff8225;
    --azul-escuro: #27325a;
    --fonte: "Quicksand", sans-serif;
    --sombra-azul: rgba(39, 50, 90, 0.3);
    --preto: #000000;
    --branco: #ffffff;
    --vermelho: rgba(210, 13, 13, 1);
    --azul: rgba(30, 111, 169, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-decoration:solid;

    font-family: var(--fonte);
    font-weight: 700;
    font-style: normal;
    text-align: justify;
    
}

body {
    font-family: Arial, sans-serif;
    /* background-color: var(--claro); */
    background-color: var(--claro-escuro);
}

.container {
    display: flex;
    height: 100%;
}

.logo-design {
    display: flex;
    align-items: center;
}

.logo-design img{
    width: 80px;
    border-radius: 70px;
}

.logo-design p{
    font-size: 32;
    color: var(--claro);
    text-shadow: 4px 4px rgba(114,114,114, 0.25);
}

.logo-design-mob {
    display: flex;
    align-items: center;
}

.logo-design-mob img{
    width: 80px;
    border-radius: 70px;
}

.logo-design-mob p{
    font-size: 32;
    color: var(--claro);
    text-shadow: 4px 4px rgba(114,114,114, 0.25);
}

.option-list {
    display: block;
    position: absolute;
}

.option-list a{
    cursor: pointer;
    position: absolute;
}

.option-list a img{
    padding: 20px;
    height: 25px;
    fill: aqua;
}

.box-content {
    display: flex;
    flex-direction: column;

    gap: 25px;

    background-color: var(--claro-escuro);
    
    padding: 25px;
    width: 100%;

    overflow: auto;
}

@media screen and (max-width: 720px){
    .container{
        flex-direction: column;

        background-color: var(--azul-escuro);
        background-image: url('../images/fundo_money.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .box-content{
        border-radius: 15px 15px 2px 2px;
        padding: 15px 0px 15px 0px;

        align-items: center;
    }

    .option-list a{
        display: none;
    }

    .navigation-bar{
        display: none;
    }

}