.content-top{
    display: flex;
    align-items: center;
    gap: 10px;
}

.grafico-vertical {
    display: flex;

    padding: 10px;
    gap: 20px;

    font-size: 15;

    border-radius: 20px;
    overflow: auto;
    margin-right: 10px;

    height: 100%;
    width: 60%;
    background-color: var(--branco);
}

.y-grafico {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    gap: 30px;
    margin-bottom: 36.8px;
}

.info-grafico {
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
}

.grafico {
    display: block;
    width: 98%;

    background-color: var(--laranja-principal);
}

.grafico:hover {
    background-color: var(--azul-escuro);
}

.info-gastos{
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    
    width: 40%;
    gap: 10px;
}

.content-info{
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 10px;
}

.filtros{
    display: flex;
    gap: 10px;

    justify-content: space-between;
    align-items: center;
}

.filtro{
    display: flex;
    gap: 10px;

    background-color: var(--laranja-principal);

    height: 30px;
    padding: 10px;

    align-items: center;
    border-radius: 15px;

    text-decoration: none;
    appearance: none;
    border: none;
    list-style: none;
}

.filtro p{
    font-size: 30;
}

.filtro img{
    width: 20px;
    height: 20px;
}

.gasto{
    display: flex;
 

    background-color: var(--branco);
    border-radius: 15px;

    height: 100px;

    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.gasto p{
    font-size: 30;
}

.gasto div{
    display: flex;
    background-color: var(--laranja-principal);

    border-radius: 15px;

    height: 80px;
    width: 160;

    justify-content: center;
    align-items: center;
}

.gasto div p{
    color: var(--branco);
}

.box-gasto-recente{
    display: flex;
    flex-direction: column;

    background-color: var(--branco);
    border-radius: 15px;
    
    box-shadow: 15px 15px 2px var(--sombra), 9px 9px 10px var(--azul);
    
    padding: 5px;

    overflow: auto;
}

.table-gastos {
    border-collapse: collapse;

    font-family: var(--fonte);
    font-weight: 400;
    font-style: normal;
    font-size: 17;
}

.table-gastos td, .table-gastos th{
    padding: 5px;
}

.table-gastos tr:nth-child(even){
    background-color: var(--branco);
}

.table-gastos tr:hover{
    background-color: var(--azul-escuro);
    color: white;
}

.table-info tr{
    background-color: var(--claro-escuro);
    height: 40px;
}

.icons{
    display: flex;
    flex-direction: column;
    gap: 10px;

    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 50px;
    height: 120px;
}

.icon-downloads{
    display: flex;
    background-color: var(--laranja-principal);
    gap: 20px;
    
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
    width: 50px;
    height: 50px;

    cursor: pointer;
}

.icon-downloads a img{
    width: 30px;
    height: 30px;

    fill: var(--azul-escuro);
}

.icon-add{
    display: flex;
    background-color: var(--laranja-principal);
    gap: 20px;

    justify-content: center;
    align-items: center;

    border-radius: 50%;
    width: 50px;
    height: 50px;

    cursor: pointer;
}

.icon-add a img{
    width: 30px;
    height: 30px;

    fill: var(--azul-escuro);
}

.modal {
    display: none;
    position: fixed;

    align-items: center;
    justify-content: center;

    z-index: 1000;
    padding-top: 100px;
    
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;

    overflow: auto;
    background-color: rgba(0,0,0,0.4);

}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
}

.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;

    padding: 20px;
}

.form div{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
}

.form input {
    width: 90%;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--azul-escuro);
    background-color: var(--claro);

    font-size: 16px;
    color: #868686;
    box-shadow: 0px 0px 4px var(--preto) inset;
}

.form button {
    cursor: pointer;

    width: 50%;
    height: 45px;
    border: none;
    border-radius: 15px;
    background-color: var(--laranja-principal);
    box-shadow: 2px 2px 4px var(--sombra-azul);

    color: var(--claro);
    font-family: var(--fonte);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.form button:hover {
    background-color: var(--azul-escuro);
    color: var(--laranja-principal);
}

@media screen and (max-width: 720px){
    .content-top{
        flex-direction: column;
        width: 100%;
    }

    .grafico-gastos{
        width: 90%;
    }

    .info-gastos{
        width: 98%;
    }

    .box-gasto-recente{
        width: 100%;
    }

    .grafico-vertical{
        width: 95%;
        gap: 23px;
        
    }
    
    .y-grafico{
        margin-bottom: 18px;
    }
}